/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
@import "compass";

$border_colour: #f00;

/* ---------- Imports ---------- */

@import url(color_schemes/borderless.css);

@import url(color_schemes/blue.css);



/* ---------- Base ---------- */

a {
	color: #89ACF4;
	font-weight: bold;
	text-decoration: none;
}

.clear {
	clear: both;
}

body {
	font-size: 12px;
}

body.stars {
	background: #000 url(@theme_image_path@/custom/body_bg.jpg);
}

body.white {
	background: #FFF;
}

/* ---------- Wrapper ---------- */


#wrapper {
	color: #FFF;
	margin: 0 auto;
	padding: 5px;
	width: 1080px;
	
	h2 {
		font-size: 32px;
		margin: 0 0 .5em;
	}
}

/* ---------- Banner ---------- */


#banner {
	position: relative;
}

#heading {
	float: left;
	text-align: center;
	width: 20%;
}

#heading h1 {
	margin: 0;
}

#heading h1 a {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: $border_colour url(@theme_image_path@/custom/gradient_bg.png) repeat-x left bottom;
	border: 1px solid darken($border_colour, 80);
	border-radius: 5px;
	color: #FFF;
	display: block;
	height: 80px;
	line-height: 80px;
	margin: 5px;
	text-transform: uppercase;
}

/* Overwrite this line with 13-custom.css-ie6-gradient-fix-banner */

/* Overwrite this line with 17-custom.css-ie6-logo-fix */

#heading h1 a:hover {
	background-color: #B1B7D3;
}

#heading h1 a img {
	vertical-align: middle;
}

#heading .page-title {
	display: none;
}

/* ---------- Dockbar ---------- */

#non-admin-dockbar,
#sign-in {
	display: block;
	padding-right: 5px;
	text-align: right;
}

/* ---------- Navigation ---------- */


#navigation {
	float:left;
	width: 80%;
}

#navigation h1 {
	display: none;
}

#navigation ul {
	margin: 0;
}

#navigation li {
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 25%;
}

#navigation li a {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #222 url(@theme_image_path@/custom/gradient_bg.png) repeat-x left bottom;
	border: 1px solid #333;
	border-radius: 5px;
	color: #FFF;
	display: block;
	line-height: 80px;
	margin: 5px;
	text-transform: uppercase;
}

/* Overwrite this line with 14-custom.css-ie6-gradient-fix-nav */

#navigation li.selected a:hover,
#navigation li.selected a {
	background-color: $border_colour;
	border-color: $border_colour;
	color: #FFF;
}

#navigation li a:hover {
	background-color: #000;
	color: #FFF;
}

#navigation li a span {
	font: {
		size: 16px;
		weight: bold;
	}
	text-shadow: 1px 1px 1px #AAA;
}

#navigation li a:hover span {
	text-shadow: 1px 1px 1px #C8C8C8;
}

#navigation li.selected a {
	span,
	&:hover span {
		text-shadow: 1px 1px 1px #AAA;
	}
}

#navigation ul.child-menu {
	display: none;
}
	
/* ---------- Content ---------- */


#content {
	margin-top: 5px;
}

#content .columns-max {
	padding: 0 5px;
}


/* ---------- Portlet ---------- */


.portlet {
	@include border-radius(5px, 5px);
	
	background: #222 url(@theme_image_path@/custom/gradient_bg.png) repeat-x left bottom;
	border: 1px solid $border_colour;
	padding: 10px 15px;
}

.portlet .portlet-title img {
	display: none;
}

.portlet .portlet-title .portlet-title-text {
	font-size: 18px;
	text-shadow: 1px 1px 1px #AAA;
	text-transform: uppercase;
}

.portlet-body {
	margin: 0 5px 10px;
}

.portlet-layout .portlet-body {
	margin: 0 0 10px;
}

.portlet-layout .portlet {
	min-height: 175px;
	padding: 15px;
}

/* Overwrite this line with 15-custom.css-ie6-gradient-fix-portlet */

.portlet-column-content.empty {
	padding: 0;
}

.portlet-column-content-only {
	padding: 0 5px;
}

.round-border {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #222;
	border-radius: 5px;
	width: 100%;
}

.sub-nav .portlet {
	background-color: #214478;
	border-color: #315488;
}

.portlet-column {
	@include border-radius(5px, 5px);
	
	padding: 0 5px;
}

.portlet-column-content {
	padding: 0;
}

.lfr-panel-container,
.results-row td {
	color: #555;
}

.breadcrumbs-horizontal li {
	padding-right: 5px;
}

/* ---------- Tabs ---------- */

/* ---------- Footer ---------- */


#footer {
	@extend .portlet;
	
	margin: 0 5px 5px;
	padding: 10px 5px;
}

/* Overwrite this line with 16-custom.css-ie6-gradient-fix-footer */

#footer .powered-by.footer-inset {
	float: left;
}

#footer .footer-inset {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #222;
	border: 1px solid #444;
	border-radius: 5px;
	float: right;
	line-height: 50px;
	margin: 10px 5px;
	padding: 0 15px;
}

#footer .icon {
	background: url(@theme_image_path@/custom/footer_social_icon_sprite.png);
	display: inline-block;
	height: 30px;
	vertical-align: middle;
	width: 30px;
}

#footer .icon.twitter {
	background-position: 0 -30px;
}

#footer .icon.linkedin {
	background-position: 0 -60px;
}

 #footer .aui-field-content:after {
	display: inline-block;
}


/* ---------- Viewport < 960 ---------- */

.aui-view-lt960 {
	#wrapper {
		width: 720px;

		#heading {
			float: none;
			width: auto;

			h1 a {
				height: 70px;
				line-height: 70px;
			}
		}

		#navigation {
			width: 100%;

			li a {
				line-height: 60px;
			}
		}
	}
}


/* ---------- Viewport < 720 ---------- */

.aui-view-lt720 {
	#dockbar {
		display: none;
	}
	#wrapper {
		width: 480px;

		#heading,
		#navigation,
		#navigation li {
			display: block;
			float: none;
			width: auto;

			a {
				line-height: 50px;
			}
		}

		.portlet-column {
			display: block;
			width: auto;
		}
	}
}


/* ---------- Viewport < 480 ---------- */

.aui-view-lt480 #wrapper {
	width: 320px;
}
